@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color:rgb(230, 231, 255);
}
